@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To work flow approval application. Click <a asp-action="Index" asp-controller="Request">Request</a></p>
</div>
